<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0 , width=device-width"  />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <link rel="stylesheet" href="__PUBLIC__/App/css/screen.css" media="screen and (max-width:768px)" />
	<title></title>

</head>
<body>

              <h2>{$article['art_title']}</h2>
				{$article['art_time']} | {$article['team_name']}
              <div>
                {$article['art_content']}
              </div>

</body>
</html>
