<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no,minimal-ui" />
		<link rel="stylesheet" href="__PUBLIC__/App/css/association.css" type="text/css" />
		<script type="text/javascript" src="__PUBLIC__/App/js/zepto.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/App/js/association.js"></script>
		<title>{$article['art_title']}</title>
	</head>
	<body>
	    <h2>{$article['art_title']}</h2>
	    <em>{$article['art_time']}</em>
	    <em>{$article['team_name']}</em>
		{$article['art_content']}
	</body>
</html>