<!DOCTYPE html>
<html lang="zh">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>走进韶院系统管理平台</title>

    <!-- Bootstrap Core CSS -->
    <link href="__PUBLIC__/King/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="__PUBLIC__/King/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="__PUBLIC__/King/css/plugins/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="__PUBLIC__/King/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="__PUBLIC__/King/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="__PUBLIC__/King/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Style.css -->
    <link href="__PUBLIC__/King/css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{:U('Index/index')}">走进韶院系统管理平台</a>
</div>
<!-- /.navbar-header -->

<ul class="nav navbar-top-links navbar-right">


<!-- /.dropdown -->
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
        </li>
        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
        </li>
        <li class="divider"></li>
        <li><a href="{:U('Sign/signOut')}"><i class="fa fa-sign-out fa-fw"></i> 注销</a>
        </li>
    </ul>
    <!-- /.dropdown-user -->
</li>
<!-- /.dropdown -->
</ul>
<!-- /.navbar-top-links -->

<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">

            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                </div>
                <!-- /input-group -->
            </li>

            <!-- 菜单列表 -->
            <li <if condition="CONTROLLER_NAME eq 'Article'">class="active"</if>>
                    <a class="dropdown-toggle" href="#"> <i class="fa fa-file-text-o"></i>
                        资讯管理
                        <span class="fa arrow">
                    </a>
                    <ul class="nav nav-second-level">
                            <li> 
                                <a <if condition="ACTION_NAME eq 'articleType'">class="active"</if>
                                 href="__APP__/King/Article/articleType">分类管理</a>
                            </li>
                            <li> 
                                <a <if condition="ACTION_NAME eq 'articleList'">class="active"</if>
                                 href="__APP__/King/Article/articleList">资讯列表</a>
                            </li>
                            <li> 
                                <a <if condition="ACTION_NAME eq 'write'">class="active"</if>
                                 href="__APP__/King/Article/write">发表资讯</a>
                            </li>
                    </ul>
            </li>

            <li <if condition="CONTROLLER_NAME eq 'Team'">class="active"</if>>
                    <a class="dropdown-toggle" href="#"> <i class="fa fa-h-square"></i>
                        社团管理
                        <span class="fa arrow">
                    </a>
                    <ul class="nav nav-second-level">
                            <li> 
                                <a <if condition="ACTION_NAME eq 'teamList'">class="active"</if>
                                 href="__APP__/King/Team/teamList">社团列表</a>
                            </li>
                            <li> 
                                <a <if condition="ACTION_NAME eq 'addTeam'">class="active"</if>
                                 href="__APP__/King/Team/addTeam">添加社团</a>
                            </li>
                    </ul>
            </li>

            <li <if condition="CONTROLLER_NAME eq 'User'">class="active"</if>>
                    <a class="dropdown-toggle" href="#"> <i class="fa fa-users"></i>
                        用户管理
                        <span class="fa arrow">
                    </a>
                    <ul class="nav nav-second-level">
                            <li> 
                                <a <if condition="ACTION_NAME eq 'userList'">class="active"</if>
                                 href="__APP__/King/User/userList">用户列表</a>
                            </li>

                    </ul>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
</nav>
 
